$colorFondo:#403B49;
$colorLetraPrincipal:#FDE2FF;
$fuentePrincipal:'Newsreader:ital';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $colorFondo;
}
header {
    .row {
        .titulo {
            margin: 20px 0;
            display: flex;
            align-items: center;
            h1 {
                font-family: $fuentePrincipal;
                color: $colorLetraPrincipal;
                span {
                    font-size: 20px;
                    font-style: italic;
                }
            }
            i {
                color: $colorLetraPrincipal;
                font-size: 40px;
                margin-right: 20px;
            }
        }
    }
}
main {
    padding: 100px 0;
    .desplazamiento {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: auto;
        i {
            color: $colorLetraPrincipal;
            font-size: 30px;
            &:hover {
                opacity: .7;
                cursor: pointer;
            }
            &:active {
                opacity: .9;
            }
        }
        .numeros {
            button {
                margin: 0 2px;
            }
        }
    }
    .contenedorPeliculas {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
        .cajaPelicula {
            width: 33%;
            padding: 10px;
            border: 1px solid #838383;
            border-radius: 5px;
            background-color: #635D7E;
            margin: 5px 0;
            img {
                width: 200px;
                height: 300px;
                display: block;
                margin: auto;
            }
            .contenidoPelicula {
                font-family: $fuentePrincipal;
                color: $colorLetraPrincipal;
                margin-top: 10px;
                .tituloPelicula {
                    h5 {
    
                    }
                }
                .descripcionPelicula {
                    p {
    
                    }
                }
                button {
    
                }
            }
        }
    }
}
.rojo {
    color: red;
}
.verde {
    color: yellow;
}